html{
	background: url("images/background.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: white;
	font-family: "Times New Roman", Times, serif, "sans-serif";
	height:100%;
	max-width: 100%;
}

header{
	display: block;
	text-align: center;
}

body{
	text-align: center;
	display:block;
	width:90%;
	min-height:100%;
	background:rgba(0,0,0,0.8);
	margin: auto;
	position: relative;
}

.center{
	text-align: center;
	width: 35%;
	display: inline-block;
	vertical-align:top;
	margin-top: 4%;
}

.button{
	background-color: #FF8C00;
	border: solid 3px white;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 90%;
	padding: 5%;
}
.button:hover{
	transition: 0.5s;
	background-color: #fff;
	color: #FF8C00;
}

#but{
	margin-bottom: 15px;
}

.image{
	margin: auto;
	margin-top: 4%;
	border: 2px;
	width: 20%;
	border-style: solid;
	border-radius: 5%;
	display: inline-block;
	vertical-align: top;
}

.text{
	margin: auto;
	width: 90%;
	display: block;
	text-align: center;
}

fieldset{
	width: 90%;
	margin: auto;
}

section{
	padding-bottom: 50px;
}

footer{
	width:100%;
	display:block;
	text-align: center;
	position: absolute;
	bottom: 0px;
}

footer p{
	padding-top: 5px;
	padding-bottom: 5px;
	border-top: solid 1px;
	margin:auto;
	width: 90%;
}

.table{
	margin: auto;
}

.picProfil{
	margin: auto;
	margin-top: 4%;
	border: 2px;
	width: 20%;
	border-style: solid;
	border-radius: 5%;
	display: inline-block;
	vertical-align: top;
}

#le{
	margin-top: 20px;
	padding: 0;
	padding-top: 25px;
	text-align: center;
	list-style-type: none;
}

#space{
	display: inline-block;
	margin:auto;
	margin-top: 20%;
	width: 10%;
	height: 200px;
}

.profil{
	height: 675px;
	vertical-align: top;
	display: inline-block;
	margin:auto;
	margin-top: 25px;
	width: 40%;
	min-height: 90%;
	border: solid 1px;
}
#chat{
	border: solid 3px white;
}
@media screen and (max-width: 800px){
	#space{
		margin-top: 40%;
	}
}
@media screen and (max-width: 535px){
	h1{
		font-size: 1.5em;
	}
	
	.image{
		display: none;
	}
	
	.button{
		width: 100%;
	}
	
	.center{
		width: 100%;
	}
	
	#divConnect{
		width: 50%;
		display:block;
		margin:auto;
		text-align:center;
	}
	
	.connection{
		display:block;
		text-align: center;
	}
	
	.Inputs{
		width:100%;
	}
	
	.profil{
		width: 90%;
		display: block;
	}
	
	#space{
		width: 90%;
		height: 20px;
		margin-top: 10%;
	}
}